<!DOCTYPE  html>
<html>
<head><title> forms1DOThtml </title>
<link rel="stylesheet" href="fitgritstyling/fitgritstyle2.css">
</head>
<h1>WELCOME ! YOU CAN BROWSE EXERCISE EQUIPMENT HERE.</h1>
<br><br>
<p><a href="file:///C:/Users/cody/Downloads/Git/gitcode/fitgrit/fitgrithome.html"><b>HOME</b></a></p>
<br><br>
<body>
   <form action="https://duckduckgo.com" method="GET">
       <label for="search-term">Search for:</label>
       <input id="search-term" type="text" name="q"/>
       <input type="submit" />
   </form>
   <h2>Choose the equipment you want to browse for :</h2>
   <ul>
       <li> <a href="https://duckduckgo.com/?q=exercise+bikes&ia=products">Exercise bikes</a></li>
       <li> <a href="https://duckduckgo.com/?q=elliptical+exercise+machine&ia=products">EllipticalExercise machines</a></li>
       <li> <a href="https://duckduckgo.com/?q=treadmills&ia=products">treadmills</a></li>
       <li> <a href="https://duckduckgo.com/?q=weights&ia=products">weights</a></li>
   </ul>

</body>
</html>
