
<! DOCTYPE html>
<html>
<head><title> EDIT PERSONAL TRAINING JOURNAL </title>
<!--<link rel="stylesheet" href="sqlmailstyling/sqlmailstyle1.css">
-->
<link href=" {{ url_for('static', filename='sqlmailstyle1.css')}}" rel="stylesheet">
 </head>
<body>
    <h1> My  Training Journal  </h1>
    <p><a href="file:///C:/Users/cody/Downloads/Git/gitcode/1USEthis2017Oct25/sqlmail/sqlmailhome.html"><b>HOME</b></a></p>
<p2 id="mylist"></p2>
<p1 id="addmedarr"></p1>
<p1 id="verticalist"></p1>
<script>
var medicalsupplies = [ " "];
var itemsIaddedNow = Array.from(medicalsupplies);
function myFunction() {
    var itemName = prompt("Please enter your exerhours", "");
    medicalsupplies.unshift(itemName);
    document.getElementById("addmedarr").innerHTML = medicalsupplies;
    }
    function itemsdone(){
        document.getElementById("newlist").innerHTML="Newly added exerhours are :  ";
        document.getElementById("done").innerHTML = medicalsupplies;
    }
document.getElementById("mylist").innerHTML = medicalsupplies;
</script> <p>Do you want to add more exerhours? </p>
<button class="button" onclick="myFunction()">Add more exerhours</button><br><br>
<p id="newlist"></p>
<p id="done"> </p>
<button class="button" onclick="itemsdone()">No more exerhours</button><br><br>
<div>
    <p8>To mail exerhours to your email account,<br> enter your email below:</p8>

        <p7><form action='/email' method="POST">
          <label for="firstname" type="text" >Firstname</label>
          <input type="text" name="firstname"/><br><br>
          <label for="email" type="text" >Email</label>
          <input type="email" name="email"/><br><br>
          <label for="message" type="text" >Exerhours</label>
          <input type="text" name="exerhours"/><br><br>
          <input type="submit" value="Submit" >
      </form>
  </p7>
        <script>

        }
        </script>
        <p1>Please enter correct email address ! </p1>
    </div>
<!--<p><a href="file:///C:/Users/cody/Downloads/Git/gitcode/1USEthis2017Oct25/gymtime/gymtimemail2.html"> Click here to mail exerhours to your account</a></p>-->
</body>
</html>
<!--
function validateForm() {
    var x = document.forms["myForm"]["fname"].value;
    if (x == "") {
        alert("Name must be filled out");
        return false;
    }
-->
